.volume {
  width: 100px;
}

.soundDiv {
  color: white;
  display: flex;
  gap: 15px;
  font-size: 20px;
  align-items: center;
  width: 300px;
  justify-content: end;
}

.pauseplay {
  color: white;
  font-size: 35px;
  transition: transform 0.2s;
}

.pauseplay:hover {
  transform: scale(1.1);
}

.forback {
  color: white;
  font-size: 16px;
  transition: transform 0.2s;
}

.forback:hover {
  transform: scale(1.4);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1px;
}

.progress {
  width: 400px;
  height: 20px; /* 设置进度条高度 */
}

.progress .ant-slider-track {
  background-color: #a7a7a7;
}

.progress .ant-slider-handle {
  background-color: transparent;
}

.cover {
  height: 50px;
}

.songTitle {
  font-size: 16px;
  color: white;
}

.songAlbum {
  color: white;
  font-size: 12px;
}

.audio-player {
  position: relative;
  padding: 10px;
  background-color: #282828;
  border-radius: 10px;
  margin: 1px auto;
  width: auto;
}
